# Basic INSERT statement

In [ ]:
INSERT INTO customers (name, surname, zip_code, city) 
VALUES ('Bobby', 'Ray', 60601, 'Chicago');

In [ ]:
INSERT INTO customers 
VALUES ('Bobby', 'Ray', 60601, 'Chicago');

## Insert multiple rows

In [ ]:
INSERT INTO customers (name, surname, zip_code, city) 
VALUES ('Mary', 'West', 75201, 'Dallas'), 
       ('Steve', 'Palmer', 33107, 'Miami');

## Insert into specified columns

In [ ]:
INSERT INTO cats (name, age) 
VALUES ('Felix', 3);

# Delete action

In [ ]:
DELETE FROM books;

In [ ]:
DELETE FROM books 
WHERE quantity = 0;

# Alter table

Sometimes we need to modify our table: add a new column, drop the existing one or change the column type. We can create a new table with all these changes and delete the previous one, but it's easy to lose data during this process. Luckily, SQL provides a statement that can modify the existing tables, ALTER TABLE statement. It can be used to create, delete or change the type of columns.

## Adding a new column


You can add a new column to your table with a simple query using the ALTER TABLE statement with ADD COLUMN.

In [ ]:
ALTER TABLE employees 
ADD COLUMN employee_email VARCHAR(10);

## Changing the data type
To change the data type, make a query with ALTER TABLE statement and MODIFY COLUMN:

In [ ]:
ALTER TABLE employees 
MODIFY COLUMN employee_email VARCHAR(45);

## Dropping an existing column
To drop this column from the table, use the following query with the ALTER TABLE statement and DROP COLUMN:

In [ ]:
ALTER TABLE employees 
DROP COLUMN native_city;

# Renaming a column
Let's change the column name to email. You can do it with a simple query with the ALTER TABLE statement and CHANGE:

In [ ]:
ALTER TABLE employees
CHANGE employee_email email VARCHAR(45);

## Summary
To add a new column to the existing table, use this simple query template:
```ALTER TABLE table_name ```
```ADD COLUMN column_name DATATYPE;```


The following query template can delete a column from the table:

```ALTER TABLE table_name```
```DROP COLUMN column_name; ```


To change the column type, you can use this template:

```ALTER TABLE table_name``` 
```MODIFY COLUMN column_name NEWDATATYPE; ```


To change the column name (and, possibly, datatype), use the following template:

```ALTER TABLE table_name```
```CHANGE old_column_name new_column_name NEWDATATYPE; ```