# PRIMARY KEY constraint 

Sometimes we need to be sure that all the rows in our table are unique. For example, we want to store information about the conference participants: their name, email, date of birth, and city; we want to make sure that no one is registered twice

The PRIMARY KEY constraint specifies a set of columns with values that can help identify any table record.

This constraint can be specified in the process of creating a table. Let's create a table named chefs with columns chef_id INT, first_name VARCHAR(20) and last_name VARCHAR(20). We assume that all chefs have individual identifiers, so we will make our chef_id column the primary key:

In [ ]:
CREATE TABLE chefs (
    chef_id INT PRIMARY KEY, 
    first_name VARCHAR(20), 
    last_name VARCHAR(20)
);

The PRIMARY KEY constraint means that the chef_id column must contain unique values for each chef. No two chefs can have the same chef_id.

- Since the primary key has to identify each table row, it must be unique and cannot be null.

-  important thing is that a table can have one and only one primary key, but it is allowed to include multiple columns in it.

For example, consider the employees table with columns department_id, employee_id, and name. We assume that it's possible to have two employees with identical identifiers across different departments, but it is impossible to have several employees with identical id's in a single department. So, we can have tuples (42, 15, 'Ann Brown') and (43, 15, 'Bob Freud') in the table, but we cannot add a tuple (42, 15, 'John Smith') to that table since there already is an Ann Brown with an id '42'.

In this case, we can define a named PRIMARY KEY constraint on multiple columns when we create the employee table:

In [ ]:
CREATE TABLE employees (
    department_id INT NOT NULL,
    employee_id INT NOT NULL,
    name varchar(50) NOT NULL,
    CONSTRAINT pk_employee PRIMARY KEY (department_id, employee_id)
);

## Add PRIMARY KEY to an existing table

If we already have a table without a primary key, we can add it using the ALTER TABLE statement.

Assume that we have a table named countries that was created as follows:

In [ ]:
CREATE TABLE countries (
    country_name VARCHAR(40) NOT NULL UNIQUE, 
    population INT CHECK (population > 0), 
    area REAL NOT NULL 
);

We want to make the column country_name our primary key.

To add an unnamed PRIMARY KEY constraint to the column country_name, we use the ALTER TABLE ADD PRIMARY KEY statement:

In [ ]:
ALTER TABLE countries
ADD PRIMARY KEY (country_name);

We can also add a named PRIMARY KEY constraint to an existing table using the ALTER TABLE ADD CONSTRAINT statement. Let's define a PRIMARY KEY constraint on multiple columns for a table students. This table has columns name VARCHAR(60), birth_date DATE, and department VARCHAR(40).

The query below will add a primary key pk_student. This primary key will have two columns: name and birth_date:

In [ ]:
ALTER TABLE students
ADD CONSTRAINT pk_student PRIMARY KEY (name,birth_date);

## Drop PRIMARY KEY

In [ ]:
ALTER TABLE students
DROP PRIMARY KEY;