## Creating a table

We need a table first! Let's create one and populate it with data. The procedure is familiar to you, so we won't dive into much detail. We create a table named Employee with the following fields: id, name, position, and salary.

In [ ]:
from sqlalchemy import Column, Integer, String
from sqlalchemy.ext.declarative import declarative_base

Base = declarative_base()

class Employee(Base):
    __tablename__ = "employee"

    id = Column(Integer, primary_key=True)
    name = Column(String(30))
    position = Column(String(30))
    salary = Column(Integer)

We have created our table and mapped it. Now, we need to add data into this table to work with it. Before this, we need to create a session:

In [ ]:
from sqlalchemy.orm import sessionmaker

engine = create_engine("sqlite:///alchemy.db", echo=True)
Base.metadata.create_all(engine)

Session = sessionmaker(bind=engine)
session = Session()

Once the session is created, it's time to fill it. We will add four employees with positions and salaries:

In [ ]:
session.add(Employee(name="William", position="Data Scientist", salary="12,000"))
session.add(Employee(name="Susan", position="Product Manager", salary="14,000"))
session.add(Employee(name="Andrew", position="Senior Software Engineer", salary="17,000"))
session.add(Employee(name="Nancy", position="Account Executive", salary="13,000"))

session.commit()

## The update method
 It is done with the help of the update() method, but we need to specify the field we want to update first. We'll also need a session, a query, and the mapped class. Let's start by creating a query:

In [ ]:
query = session.query(Employee)

If you want to increase the salary of all employees by 1000, use the following syntax:

In [ ]:
query.update({"salary": Employee.salary + 1000})

After that, we need to commit the changes:

In [ ]:
query.update({"salary": Employee.salary + 1000})
session.commit()

## Updating by criteria
Let's say we want to increase the salary of one employee. We can do this in several ways. We can filter by id, by name, by position, and so on. In our example, we want to increase William's salary by 1000, so we will select it by name. To select only one row, use the filter() method and pass the name as a criterion:

In [ ]:
empl_filter = query.filter(Employee.name == "William")

After that, use the update() method on the filter in the same way as for updating the values above:

In [ ]:
empl_filter.update({"salary": Employee.salary + 1000})
session.commit()