# Update

In [ ]:
UPDATE table_name 
SET col1 = expr1, 
    col2 = expr2, 
    â€¦, 
    colN = exprN;

In [ ]:
UPDATE employees 
SET department_id = 14;

In [ ]:
UPDATE employees 
SET salary = salary + 10000;

In [ ]:
UPDATE employees 
SET department_id = 14, 
    salary = salary + 10000;

In [ ]:
UPDATE employees 
SET salary = floor(0.8 * upper_limit);