### Creating a new table

In [ ]:
CREATE TABLE students_info ( 
    student_id INT, 
    name VARCHAR(30), 
    surname VARCHAR(30), 
    age INT
);

## Drop a database

In [ ]:
DROP DATABASE students;

## Drop a table

In [ ]:
DROP TABLE students_info;

In [ ]:
'To create a new database, you can use this query template:'

CREATE DATABASE database_name;

'The following template is used to drop the database:'

DROP DATABASE database_name; 

'To create a new table, follow this general template:'

CREATE TABLE table_name ( 
    column_1 column_1_type,
    column_2 column_2_type,
    ...., 
    column_n column_n_type
);

'To delete a table, use this statement:'

DROP TABLE table_name;

## Select examples

In [ ]:
SELECT 'Bob' AS name, 160 AS "height in centimeters", 160*0.393701 AS "height in inches";

SELECT 
  'Bob' AS "name", 
  160 AS "height in centimeters", 
  160*0.393701 AS "height in inches"
;

SELECT 
  'Bob'        AS "name", 
  160          AS "height in centimeters", 
  160*0.393701 AS "height in inches"
;

In [ ]:
SELECT
  CONCAT(first_name, ' ', last_name) AS full_name,
  1912 - age AS year_of_birth,
  passenger_class
FROM
  Titanic_passengers;

# Logic and comparison expressions

### Filtering by a criteria

In [ ]:
SELECT *
FROM table
WHERE conditions

In the conditions field we can insert any parameters we want our extracted data to be consistent with. However, in order to define those specific selection conditions, we need to apply them to expressions.

Let's imagine that your first client wants to buy a book by Charles Dickens. Let's write a query that selects books that meet the criteria:

In [ ]:
SELECT id, title, rating
FROM books
WHERE author = 'Charles Dickens';

### Filtering with Comparisons

```=    equality check

<, >    less, greater

<=, >=  less or equal, greater or equal

!<, !>  not less than, not greater than

<>, !=  not equal```

### Logical expressions

- NOT returns True if argument equals to False and vice versa.

- AND compares operands and returns True only if all of them are True. Alternatively, returns False.

- OR returns True if at least one of the operands is True. Otherwise, returns False.

In [ ]:
SELECT *
FROM staff
WHERE (status="Middle" OR status="Senior") AND skills="SQL"

In [ ]:
SELECT *
FROM staff
WHERE NOT(status="Junior") AND skills="SQL"

In [ ]:
select id,title,author,rating from books 
where (author="Theodore Dreiser" OR author="Ayn Rand" OR author = "Harper Lee" OR author= "Mark Twain") and quantity > 0;

In [ ]:
select id,title,author,rating,price from books where quantity > 0 and rating < 3 and price > 5;