# Aykırı Gözlem Analizi

## Aykırı Değerleri Yakalamak

In [207]:
import pandas as pd 
data = pd.read_csv('2023-11.csv', sep=';')

In [155]:
data.round(2)

,day,Local O 50p,"Local O 99,5p","Local O 99,8p",Remote O 50p,"Remote O 99,5p","Remote O 99,8p",Remote Rprt O 50p,"Remote Rprt O 99,5p","Remote Rprt O 99,8p"
0,2023-11-01,10.0,136.00,253.00,10.0,304.00,411.32,6.0,60.00,158.00
1,2023-11-02,8.0,138.00,198.00,11.0,333.00,418.00,7.0,111.00,190.00
2,2023-11-03,12.0,117.00,175.00,10.0,126.00,188.00,7.0,39.00,65.00
3,2023-11-04,12.0,99.00,131.00,10.0,106.00,218.00,6.0,32.00,43.00
4,2023-11-05,7.0,158.00,247.08,12.0,559.00,748.00,6.0,143.00,255.00
5,2023-11-06,6.0,166.00,365.00,10.0,413.00,585.00,6.0,195.00,314.00
6,2023-11-07,12.0,149.00,277.00,12.0,402.00,489.00,6.0,153.00,273.00
7,2023-11-08,10.0,194.24,472.00,11.0,371.00,521.00,7.0,206.00,340.00
8,2023-11-09,11.0,117.00,208.00,7.0,193.00,307.00,5.0,37.00,79.00
9,2023-11-10,6.0,108.00,191.84,6.0,136.00,229.00,4.0,66.00,143.10
10,2023-11-11,6.0,99.00,132.00,5.0,69.00,182.00,4.0,29.00,48.00
11,2023-11-12,6.0,102.00,141.67,7.0,76.00,155.00,4.0,31.00,44.00
12,2023-11-13,8.0,111.00,252.00,6.0,215.00,266.00,4.0,42.00,153.00
13,2023-11-14,11.0,95.00,136.00,7.0,65.00,99.00,4.0,38.00,60.00
14,2023-11-15,9.0,456.00,484.00,6.0,316.00,413.00,4.0,63.00,195.78
15,2023-11-16,7.0,12876957.75,15053461.18,11.0,13917193.48,15476822.02,7.0,15050237.37,16852651.16
16,2023-11-17,9.0,55607719.54,65018313.86,15.0,59152451.68,67004034.65,1162017.0,61905170.71,69092656.00
17,2023-11-18,5.0,5.99,6.00,0.0,0.00,0.00,0.0,0.00,0.00
18,2023-11-19,14.0,15.94,15.98,0.0,0.00,0.00,0.0,0.00,0.00
19,2023-11-20,6.0,33253619.68,50396288.58,7.0,25893979.32,36064388.35,6.0,29298198.00,43903462.68
20,2023-11-21,6.0,15383599.70,20401080.27,8.0,17248342.04,21546930.81,5.0,14934213.62,19330388.45
21,2023-11-22,7.0,33103627.12,38038614.07,14.0,35812307.70,40616077.38,1131433.0,38122936.55,42136917.15
22,2023-11-23,5.0,13747815.65,20542696.66,7.0,20938956.68,26678030.32,6.0,19783787.88,25172910.91
23,2023-11-24,5.0,112.00,152.00,8.0,111.00,193.00,6.0,45.00,110.00
24,2023-11-25,5.0,106.00,131.00,8.0,45.00,75.00,6.0,27.00,34.00
25,2023-11-26,5.0,110.00,212.00,8.0,58.00,83.00,6.0,42.00,55.00
26,2023-11-27,4.0,86.00,122.00,6.0,69.00,127.00,5.0,35.00,55.00
27,2023-11-28,4.0,69.00,99.00,6.0,43.00,70.00,4.0,29.00,45.00
28,2023-11-29,5.0,87.00,119.00,6.0,53.00,91.00,4.0,32.00,52.00
29,2023-11-30,4.0,109.00,191.00,6.0,85.00,154.00,4.0,32.00,57.00

In [93]:
local950 = data['Local O 99,5p']
local980 = data['Local O 99,8p']
remoteO950 = data['Remote O 99,5p']
remoteO980 = data['Remote O 99,8p']
remoteRpt50p = data['Remote Rprt O 50p']
remoteRpt950 = data['Remote Rprt O 99,5p']
remoteRpt980 = data['Remote Rprt O 99,8p']

In [136]:
Q1 = local980.quantile(0.25)
Q3 = local980.quantile(0.75)
IQR = Q3-Q1

In [273]:
data.round(2)

,day,Local O 50p,"Local O 99,5p","Local O 99,8p",Remote O 50p,"Remote O 99,5p","Remote O 99,8p",Remote Rprt O 50p,"Remote Rprt O 99,5p","Remote Rprt O 99,8p"
0,2023-11-01,10.0,136.00,253.00,10.0,304.00,411.32,6.0,60.00,158.00
1,2023-11-02,8.0,138.00,198.00,11.0,333.00,418.00,7.0,111.00,190.00
2,2023-11-03,12.0,117.00,175.00,10.0,126.00,188.00,7.0,39.00,65.00
3,2023-11-04,12.0,99.00,131.00,10.0,106.00,218.00,6.0,32.00,43.00
4,2023-11-05,7.0,158.00,247.08,12.0,559.00,748.00,6.0,143.00,255.00
5,2023-11-06,6.0,166.00,365.00,10.0,413.00,585.00,6.0,195.00,314.00
6,2023-11-07,12.0,149.00,277.00,12.0,402.00,489.00,6.0,153.00,273.00
7,2023-11-08,10.0,194.24,472.00,11.0,371.00,521.00,7.0,206.00,340.00
8,2023-11-09,11.0,117.00,208.00,7.0,193.00,307.00,5.0,37.00,79.00
9,2023-11-10,6.0,108.00,191.84,6.0,136.00,229.00,4.0,66.00,143.10
10,2023-11-11,6.0,99.00,132.00,5.0,69.00,182.00,4.0,29.00,48.00
11,2023-11-12,6.0,102.00,141.67,7.0,76.00,155.00,4.0,31.00,44.00
12,2023-11-13,8.0,111.00,252.00,6.0,215.00,266.00,4.0,42.00,153.00
13,2023-11-14,11.0,95.00,136.00,7.0,65.00,99.00,4.0,38.00,60.00
14,2023-11-15,9.0,456.00,484.00,6.0,316.00,413.00,4.0,63.00,195.78
15,2023-11-16,7.0,12876957.75,15053461.18,11.0,13917193.48,15476822.02,7.0,15050237.37,16852651.16
16,2023-11-17,9.0,55607719.54,65018313.86,15.0,59152451.68,67004034.65,1162017.0,61905170.71,69092656.00
17,2023-11-18,5.0,5.99,6.00,0.0,0.00,0.00,0.0,0.00,0.00
18,2023-11-19,14.0,15.94,15.98,0.0,0.00,0.00,0.0,0.00,0.00
19,2023-11-20,6.0,33253619.68,50396288.58,7.0,25893979.32,36064388.35,6.0,29298198.00,43903462.68
20,2023-11-21,6.0,15383599.70,20401080.27,8.0,17248342.04,21546930.81,5.0,14934213.62,19330388.45
21,2023-11-22,7.0,33103627.12,38038614.07,14.0,35812307.70,40616077.38,1131433.0,38122936.55,42136917.15
22,2023-11-23,5.0,13747815.65,20542696.66,7.0,20938956.68,26678030.32,6.0,19783787.88,25172910.91
23,2023-11-24,5.0,112.00,152.00,8.0,111.00,193.00,6.0,45.00,110.00
24,2023-11-25,5.0,106.00,131.00,8.0,45.00,75.00,6.0,27.00,34.00
25,2023-11-26,5.0,110.00,212.00,8.0,58.00,83.00,6.0,42.00,55.00
26,2023-11-27,4.0,86.00,122.00,6.0,69.00,127.00,5.0,35.00,55.00
27,2023-11-28,4.0,69.00,99.00,6.0,43.00,70.00,4.0,29.00,45.00
28,2023-11-29,5.0,87.00,119.00,6.0,53.00,91.00,4.0,32.00,52.00
29,2023-11-30,4.0,109.00,191.00,6.0,85.00,154.00,4.0,32.00,57.00

In [96]:
Q3

187.18374999999648

In [97]:
IQR

87.43374999999648

In [137]:
alt_sinir = Q1- 1.5*IQR
ust_sinir = Q3 + 1.5*IQR

In [ ]:
alt_sinir

In [ ]:
ust_sinir

In [100]:
(local950 < alt_sinir) | (local950 > ust_sinir)

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14     True
15     True
16     True
17    False
18    False
19     True
20     True
21     True
22     True
23    False
24    False
25    False
26    False
27    False
28    False
29    False
Name: Local O 99,5p, dtype: bool

In [140]:
aykiri_tf = (local980 < alt_sinir) | (local980 > ust_sinir)

In [141]:
aykiri_tf

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14     True
15     True
16     True
17    False
18    False
19     True
20     True
21     True
22     True
23    False
24    False
25    False
26    False
27    False
28    False
29    False
Name: Local O 99,8p, dtype: bool

In [142]:
local980[aykiri_tf]

14    4.840000e+02
15    1.505346e+07
16    6.501831e+07
19    5.039629e+07
20    2.040108e+07
21    3.803861e+07
22    2.054270e+07
Name: Local O 99,8p, dtype: float64

In [143]:
local980[aykiri_tf].index

Index([14, 15, 16, 19, 20, 21, 22], dtype='int64')

## Aykırı Değer Problemini Çözmek

In [144]:
local980[aykiri_tf]

14    4.840000e+02
15    1.505346e+07
16    6.501831e+07
19    5.039629e+07
20    2.040108e+07
21    3.803861e+07
22    2.054270e+07
Name: Local O 99,8p, dtype: float64

### Silme

In [ ]:
import pandas as pd

In [ ]:
type(df_table)

In [ ]:
df_table = pd.DataFrame(df_table)

In [ ]:
df_table.shape

In [ ]:
t_df = df_table[~((df_table < (alt_sinir)) | (df_table > (ust_sinir))).any(axis = 1)]

In [ ]:
t_df.shape

### Ortalama ile Doldurma

In [ ]:
import seaborn as sns
df = sns.load_dataset('diamonds')
df = df.select_dtypes(include = ['float64', 'int64']) 
df = df.dropna()
df.head()

In [ ]:
df_table = df["table"]

In [104]:
aykiri_tf

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14     True
15     True
16     True
17    False
18    False
19     True
20     True
21     True
22     True
23    False
24    False
25    False
26    False
27    False
28    False
29    False
Name: Local O 99,5p, dtype: bool

In [145]:
local980[aykiri_tf]

14    4.840000e+02
15    1.505346e+07
16    6.501831e+07
19    5.039629e+07
20    2.040108e+07
21    3.803861e+07
22    2.054270e+07
Name: Local O 99,8p, dtype: float64

In [146]:
local980.mean()

6981891.92086666

In [147]:
local980[aykiri_tf] = local980.mean()

/tmp/ipykernel_9060/3758196845.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  local980[aykiri_tf] = local980.mean()

In [148]:
local980[aykiri_tf].round(2)

14    6981891.92
15    6981891.92
16    6981891.92
19    6981891.92
20    6981891.92
21    6981891.92
22    6981891.92
Name: Local O 99,8p, dtype: float64

### Baskılama Yöntemi

In [ ]:
import seaborn as sns
df = sns.load_dataset('diamonds')
df = df.select_dtypes(include = ['float64', 'int64']) 
df = df.dropna()
df.head()

In [ ]:
df_table = df["table"]

In [128]:
local950[aykiri_tf]

14   -31.400625
15   -31.400625
16   -31.400625
19   -31.400625
20   -31.400625
21   -31.400625
22   -31.400625
Name: Local O 99,5p, dtype: float64

In [129]:
alt_sinir

-31.400624999994704

In [130]:
local950[aykiri_tf] = alt_sinir

/tmp/ipykernel_9060/383489124.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  local950[aykiri_tf] = alt_sinir

In [131]:
local950[aykiri_tf]

14   -31.400625
15   -31.400625
16   -31.400625
19   -31.400625
20   -31.400625
21   -31.400625
22   -31.400625
Name: Local O 99,5p, dtype: float64

In [132]:
data['day']

0     2023-11-01
1     2023-11-01
2     2023-11-01
3     2023-11-01
4     2023-11-01
5     2023-11-01
6     2023-11-01
7     2023-11-01
8     2023-11-01
9     2023-11-01
10    2023-11-01
11    2023-11-01
12    2023-11-01
13    2023-11-01
14    2023-11-15
15    2023-11-16
16    2023-11-17
17    2023-11-01
18    2023-11-01
19    2023-11-20
20    2023-11-21
21    2023-11-22
22    2023-11-23
23    2023-11-01
24    2023-11-01
25    2023-11-01
26    2023-11-01
27    2023-11-01
28    2023-11-01
29    2023-11-01
Name: day, dtype: object

## Çok Değişkenli Aykırı Gözlem Analizi

### Local Outlier Factor

Gözlemleri bulundukları konumda yoğunluk tabanlı skorlayarak buna göre aykırı değer olabilecek değerleri tanımlayabilmemize imkan sağlıyor.

Bir noktanın local yoğunluğu bu noktanın komşuları ile karşılaştırılıyor. Eğer bir nokta komşularınının yoğunluğundan anlamlı şekilde düşük ise bu nokta komşularından daha seyrek bir bölgede bulunuyordur yorumu yapılabiliyor. Dolayısıyla burada bir komşuluk yapısı söz konusu. Bir değerin çevresi yoğun değilse demek ki bu değer aykırı değerdir şeklinde değerlendiriliyor.

In [ ]:
import seaborn as sns
diamonds = sns.load_dataset('diamonds')
diamonds = diamonds.select_dtypes(include = ['float64', 'int64']) 
df = diamonds.copy()
df = df.dropna()
df.head()

In [32]:
import numpy as np
from sklearn.neighbors import LocalOutlierFactor

In [33]:
clf = LocalOutlierFactor(n_neighbors = 20, contamination = 0.1)

In [208]:
data_1 = data.drop('day', axis=1)

In [41]:
clf.fit_predict(data_1)

array([ 1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1, -1,
        1,  1, -1,  1, -1,  1,  1,  1,  1,  1,  1,  1,  1])

In [42]:
df_scores = clf.negative_outlier_factor_

In [43]:
df_scores[0:10]

array([-0.99913805, -0.99672829, -0.99844878, -0.99675554, -1.27645773,
       -1.10696843, -0.98384524, -1.10990921, -1.00269766, -1.00471113])

In [44]:
np.sort(df_scores)[0:20]

array([-1.70120499e+05, -1.08619691e+05, -1.06924058e+05, -7.32545667e+04,
       -6.56030737e+04, -5.51354427e+04, -1.27645773e+00, -1.10990921e+00,
       -1.10696843e+00, -1.02479943e+00, -1.02253446e+00, -1.00471113e+00,
       -1.00269766e+00, -9.99138046e-01, -9.98985510e-01, -9.98448783e-01,
       -9.96755543e-01, -9.96728295e-01, -9.93993886e-01, -9.92985841e-01])

In [45]:
esik_deger = np.sort(df_scores)[13]

In [46]:
aykiri_tf = df_scores > esik_deger

In [47]:
aykiri_tf

array([False,  True,  True,  True, False, False,  True, False, False,
       False,  True,  True,  True,  True,  True, False, False, False,
       False, False, False, False, False,  True,  True,  True,  True,
        True,  True,  True])

In [ ]:
### silme yöntemi

In [166]:
data_1 = data_1.round(3)
lb = data_1.quantile(0.01)
ub = data_1.quantile(0.99)
df_new = data_1[(data_1 < ub) & (data_1 > lb)]
df_new

,Local O 50p,"Local O 99,5p","Local O 99,8p",Remote O 50p,"Remote O 99,5p","Remote O 99,8p",Remote Rprt O 50p,"Remote Rprt O 99,5p","Remote Rprt O 99,8p"
0,10.0,136.000,2.530000e+02,10.0,3.040000e+02,4.113240e+02,6.0,6.000000e+01,1.580000e+02
1,8.0,138.000,1.980000e+02,11.0,3.330000e+02,4.180000e+02,7.0,1.110000e+02,1.900000e+02
2,12.0,117.000,1.750000e+02,10.0,1.260000e+02,1.880000e+02,7.0,3.900000e+01,6.500000e+01
3,12.0,99.000,1.310000e+02,10.0,1.060000e+02,2.180000e+02,6.0,3.200000e+01,4.300000e+01
4,7.0,158.000,2.470760e+02,12.0,5.590000e+02,7.480000e+02,6.0,1.430000e+02,2.550000e+02
5,6.0,166.000,3.650000e+02,10.0,4.130000e+02,5.850000e+02,6.0,1.950000e+02,3.140000e+02
6,12.0,149.000,2.770000e+02,12.0,4.020000e+02,4.890000e+02,6.0,1.530000e+02,2.730000e+02
7,10.0,NaN,4.720000e+02,11.0,3.710000e+02,5.210000e+02,7.0,2.060000e+02,3.400000e+02
8,11.0,117.000,2.080000e+02,7.0,1.930000e+02,3.070000e+02,5.0,3.700000e+01,7.900000e+01
9,6.0,108.000,1.918380e+02,6.0,1.360000e+02,2.290000e+02,4.0,6.600000e+01,1.430960e+02
10,6.0,99.000,1.320000e+02,5.0,6.900000e+01,1.820000e+02,4.0,2.900000e+01,4.800000e+01
11,6.0,102.000,1.416700e+02,7.0,7.600000e+01,1.550000e+02,4.0,3.100000e+01,4.400000e+01
12,8.0,111.000,2.520000e+02,6.0,2.150000e+02,2.660000e+02,4.0,4.200000e+01,1.530000e+02
13,11.0,95.000,1.360000e+02,7.0,6.500000e+01,9.900000e+01,4.0,3.800000e+01,6.000000e+01
14,9.0,NaN,4.840000e+02,6.0,3.160000e+02,4.130000e+02,4.0,6.300000e+01,1.957800e+02
15,7.0,NaN,1.505346e+07,11.0,1.391719e+07,1.547682e+07,7.0,1.505024e+07,1.685265e+07
16,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,5.0,5.990,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,15.945,1.597800e+01,NaN,NaN,NaN,NaN,NaN,NaN
19,6.0,NaN,5.039629e+07,7.0,2.589398e+07,3.606439e+07,6.0,2.929820e+07,4.390346e+07
20,6.0,NaN,2.040108e+07,8.0,1.724834e+07,2.154693e+07,5.0,1.493421e+07,1.933039e+07
21,7.0,NaN,3.803861e+07,14.0,3.581231e+07,4.061608e+07,1131433.0,3.812294e+07,4.213692e+07
22,5.0,NaN,2.054270e+07,7.0,2.093896e+07,2.667803e+07,6.0,1.978379e+07,2.517291e+07
23,5.0,112.000,1.520000e+02,8.0,1.110000e+02,1.930000e+02,6.0,4.500000e+01,1.100000e+02
24,5.0,106.000,1.310000e+02,8.0,4.500000e+01,7.500000e+01,6.0,2.700000e+01,3.400000e+01
25,5.0,110.000,2.120000e+02,8.0,5.800000e+01,8.300000e+01,6.0,4.200000e+01,5.500000e+01
26,NaN,86.000,1.220000e+02,6.0,6.900000e+01,1.270000e+02,5.0,3.500000e+01,5.500000e+01
27,NaN,69.000,9.900000e+01,6.0,4.300000e+01,7.000000e+01,4.0,2.900000e+01,4.500000e+01
28,5.0,87.000,1.190000e+02,6.0,5.300000e+01,9.100000e+01,4.0,3.200000e+01,5.200000e+01
29,NaN,109.000,1.910000e+02,6.0,8.500000e+01,1.540000e+02,4.0,3.200000e+01,5.700000e+01

In [156]:
yeni_df  = data[df_scores > esik_deger]

In [157]:
yeni_df

,day,Local O 50p,"Local O 99,5p","Local O 99,8p",Remote O 50p,"Remote O 99,5p","Remote O 99,8p",Remote Rprt O 50p,"Remote Rprt O 99,5p","Remote Rprt O 99,8p"
1,2023-11-02,8.0,138.0,198.00,11.0,333.0,418.0,7.0,111.0,190.00
2,2023-11-03,12.0,117.0,175.00,10.0,126.0,188.0,7.0,39.0,65.00
3,2023-11-04,12.0,99.0,131.00,10.0,106.0,218.0,6.0,32.0,43.00
6,2023-11-07,12.0,149.0,277.00,12.0,402.0,489.0,6.0,153.0,273.00
10,2023-11-11,6.0,99.0,132.00,5.0,69.0,182.0,4.0,29.0,48.00
11,2023-11-12,6.0,102.0,141.67,7.0,76.0,155.0,4.0,31.0,44.00
12,2023-11-13,8.0,111.0,252.00,6.0,215.0,266.0,4.0,42.0,153.00
13,2023-11-14,11.0,95.0,136.00,7.0,65.0,99.0,4.0,38.0,60.00
14,2023-11-15,9.0,456.0,484.00,6.0,316.0,413.0,4.0,63.0,195.78
23,2023-11-24,5.0,112.0,152.00,8.0,111.0,193.0,6.0,45.0,110.00
24,2023-11-25,5.0,106.0,131.00,8.0,45.0,75.0,6.0,27.0,34.00
25,2023-11-26,5.0,110.0,212.00,8.0,58.0,83.0,6.0,42.0,55.00
26,2023-11-27,4.0,86.0,122.00,6.0,69.0,127.0,5.0,35.0,55.00
27,2023-11-28,4.0,69.0,99.00,6.0,43.0,70.0,4.0,29.0,45.00
28,2023-11-29,5.0,87.0,119.00,6.0,53.0,91.0,4.0,32.0,52.00
29,2023-11-30,4.0,109.0,191.00,6.0,85.0,154.0,4.0,32.0,57.00

In [158]:
data[df_scores < esik_deger]

,day,Local O 50p,"Local O 99,5p","Local O 99,8p",Remote O 50p,"Remote O 99,5p","Remote O 99,8p",Remote Rprt O 50p,"Remote Rprt O 99,5p","Remote Rprt O 99,8p"
4,2023-11-05,7.0,1.580000e+02,2.470760e+02,12.0,5.590000e+02,7.480000e+02,6.0,1.430000e+02,2.550000e+02
5,2023-11-06,6.0,1.660000e+02,3.650000e+02,10.0,4.130000e+02,5.850000e+02,6.0,1.950000e+02,3.140000e+02
7,2023-11-08,10.0,1.942450e+02,4.720000e+02,11.0,3.710000e+02,5.210000e+02,7.0,2.060000e+02,3.400000e+02
8,2023-11-09,11.0,1.170000e+02,2.080000e+02,7.0,1.930000e+02,3.070000e+02,5.0,3.700000e+01,7.900000e+01
9,2023-11-10,6.0,1.080000e+02,1.918380e+02,6.0,1.360000e+02,2.290000e+02,4.0,6.600000e+01,1.430960e+02
15,2023-11-16,7.0,1.287696e+07,1.505346e+07,11.0,1.391719e+07,1.547682e+07,7.0,1.505024e+07,1.685265e+07
16,2023-11-17,9.0,5.560772e+07,6.501831e+07,15.0,5.915245e+07,6.700403e+07,1162017.0,6.190517e+07,6.909266e+07
17,2023-11-18,5.0,5.990000e+00,5.996000e+00,0.0,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.000000e+00
18,2023-11-19,14.0,1.594500e+01,1.597800e+01,0.0,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.000000e+00
19,2023-11-20,6.0,3.325362e+07,5.039629e+07,7.0,2.589398e+07,3.606439e+07,6.0,2.929820e+07,4.390346e+07
20,2023-11-21,6.0,1.538360e+07,2.040108e+07,8.0,1.724834e+07,2.154693e+07,5.0,1.493421e+07,1.933039e+07
21,2023-11-22,7.0,3.310363e+07,3.803861e+07,14.0,3.581231e+07,4.061608e+07,1131433.0,3.812294e+07,4.213692e+07
22,2023-11-23,5.0,1.374782e+07,2.054270e+07,7.0,2.093896e+07,2.667803e+07,6.0,1.978379e+07,2.517291e+07

In [159]:
data[df_scores == esik_deger]

,day,Local O 50p,"Local O 99,5p","Local O 99,8p",Remote O 50p,"Remote O 99,5p","Remote O 99,8p",Remote Rprt O 50p,"Remote Rprt O 99,5p","Remote Rprt O 99,8p"
0,2023-11-01,10.0,136.0,253.0,10.0,304.0,411.324,6.0,60.0,158.0

In [ ]:
### baskilama

In [117]:
baski_deger = data[df_scores == esik_deger]

In [118]:
aykirilar = data[~aykiri_tf]

In [119]:
data

,day,Local O 50p,"Local O 99,5p","Local O 99,8p",Remote O 50p,"Remote O 99,5p","Remote O 99,8p",Remote Rprt O 50p,"Remote Rprt O 99,5p","Remote Rprt O 99,8p"
0,2023-11-01,10.0,136.000000,2.530000e+02,10.0,3.040000e+02,4.113240e+02,6.0,6.000000e+01,1.580000e+02
1,2023-11-02,8.0,138.000000,1.980000e+02,11.0,3.330000e+02,4.180000e+02,7.0,1.110000e+02,1.900000e+02
2,2023-11-03,12.0,117.000000,1.750000e+02,10.0,1.260000e+02,1.880000e+02,7.0,3.900000e+01,6.500000e+01
3,2023-11-04,12.0,99.000000,1.310000e+02,10.0,1.060000e+02,2.180000e+02,6.0,3.200000e+01,4.300000e+01
4,2023-11-05,7.0,158.000000,2.470760e+02,12.0,5.590000e+02,7.480000e+02,6.0,1.430000e+02,2.550000e+02
5,2023-11-06,6.0,166.000000,3.650000e+02,10.0,4.130000e+02,5.850000e+02,6.0,1.950000e+02,3.140000e+02
6,2023-11-07,12.0,149.000000,2.770000e+02,12.0,4.020000e+02,4.890000e+02,6.0,1.530000e+02,2.730000e+02
7,2023-11-08,10.0,194.245000,4.720000e+02,11.0,3.710000e+02,5.210000e+02,7.0,2.060000e+02,3.400000e+02
8,2023-11-09,11.0,117.000000,2.080000e+02,7.0,1.930000e+02,3.070000e+02,5.0,3.700000e+01,7.900000e+01
9,2023-11-10,6.0,108.000000,1.918380e+02,6.0,1.360000e+02,2.290000e+02,4.0,6.600000e+01,1.430960e+02
10,2023-11-11,6.0,99.000000,1.320000e+02,5.0,6.900000e+01,1.820000e+02,4.0,2.900000e+01,4.800000e+01
11,2023-11-12,6.0,102.000000,1.416700e+02,7.0,7.600000e+01,1.550000e+02,4.0,3.100000e+01,4.400000e+01
12,2023-11-13,8.0,111.000000,2.520000e+02,6.0,2.150000e+02,2.660000e+02,4.0,4.200000e+01,1.530000e+02
13,2023-11-14,11.0,95.000000,1.360000e+02,7.0,6.500000e+01,9.900000e+01,4.0,3.800000e+01,6.000000e+01
14,2023-11-15,9.0,-31.400625,4.840000e+02,6.0,3.160000e+02,4.130000e+02,4.0,6.300000e+01,1.957800e+02
15,2023-11-16,7.0,-31.400625,1.505346e+07,11.0,1.391719e+07,1.547682e+07,7.0,1.505024e+07,1.685265e+07
16,2023-11-17,9.0,-31.400625,6.501831e+07,15.0,5.915245e+07,6.700403e+07,1162017.0,6.190517e+07,6.909266e+07
17,2023-11-18,5.0,5.990000,5.996000e+00,0.0,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.000000e+00
18,2023-11-19,14.0,15.945000,1.597800e+01,0.0,0.000000e+00,0.000000e+00,0.0,0.000000e+00,0.000000e+00
19,2023-11-20,6.0,-31.400625,5.039629e+07,7.0,2.589398e+07,3.606439e+07,6.0,2.929820e+07,4.390346e+07
20,2023-11-21,6.0,-31.400625,2.040108e+07,8.0,1.724834e+07,2.154693e+07,5.0,1.493421e+07,1.933039e+07
21,2023-11-22,7.0,-31.400625,3.803861e+07,14.0,3.581231e+07,4.061608e+07,1131433.0,3.812294e+07,4.213692e+07
22,2023-11-23,5.0,-31.400625,2.054270e+07,7.0,2.093896e+07,2.667803e+07,6.0,1.978379e+07,2.517291e+07
23,2023-11-24,5.0,112.000000,1.520000e+02,8.0,1.110000e+02,1.930000e+02,6.0,4.500000e+01,1.100000e+02
24,2023-11-25,5.0,106.000000,1.310000e+02,8.0,4.500000e+01,7.500000e+01,6.0,2.700000e+01,3.400000e+01
25,2023-11-26,5.0,110.000000,2.120000e+02,8.0,5.800000e+01,8.300000e+01,6.0,4.200000e+01,5.500000e+01
26,2023-11-27,4.0,86.000000,1.220000e+02,6.0,6.900000e+01,1.270000e+02,5.0,3.500000e+01,5.500000e+01
27,2023-11-28,4.0,69.000000,9.900000e+01,6.0,4.300000e+01,7.000000e+01,4.0,2.900000e+01,4.500000e+01
28,2023-11-29,5.0,87.000000,1.190000e+02,6.0,5.300000e+01,9.100000e+01,4.0,3.200000e+01,5.200000e+01
29,2023-11-30,4.0,109.000000,1.910000e+02,6.0,8.500000e+01,1.540000e+02,4.0,3.200000e+01,5.700000e+01

In [120]:
aykirilar.to_records(index = False)

rec.array([('2023-11-01', 10., 136.   , 253.   , 10., 304., 411.324, 6.,  60., 158.   ),
           ('2023-11-02',  8., 138.   , 198.   , 11., 333., 418.   , 7., 111., 190.   ),
           ('2023-11-03', 12., 117.   , 175.   , 10., 126., 188.   , 7.,  39.,  65.   ),
           ('2023-11-04', 12.,  99.   , 131.   , 10., 106., 218.   , 6.,  32.,  43.   ),
           ('2023-11-05',  7., 158.   , 247.076, 12., 559., 748.   , 6., 143., 255.   ),
           ('2023-11-06',  6., 166.   , 365.   , 10., 413., 585.   , 6., 195., 314.   ),
           ('2023-11-07', 12., 149.   , 277.   , 12., 402., 489.   , 6., 153., 273.   ),
           ('2023-11-08', 10., 194.245, 472.   , 11., 371., 521.   , 7., 206., 340.   ),
           ('2023-11-09', 11., 117.   , 208.   ,  7., 193., 307.   , 5.,  37.,  79.   ),
           ('2023-11-10',  6., 108.   , 191.838,  6., 136., 229.   , 4.,  66., 143.096),
           ('2023-11-11',  6.,  99.   , 132.   ,  5.,  69., 182.   , 4.,  29.,  48.   ),
           ('2023-11-12',  6., 102.   , 141.67 ,  7.,  76., 155.   , 4.,  31.,  44.   ),
           ('2023-11-13',  8., 111.   , 252.   ,  6., 215., 266.   , 4.,  42., 153.   ),
           ('2023-11-14', 11.,  95.   , 136.   ,  7.,  65.,  99.   , 4.,  38.,  60.   ),
           ('2023-11-18',  5.,   5.99 ,   5.996,  0.,   0.,   0.   , 0.,   0.,   0.   ),
           ('2023-11-19', 14.,  15.945,  15.978,  0.,   0.,   0.   , 0.,   0.,   0.   ),
           ('2023-11-24',  5., 112.   , 152.   ,  8., 111., 193.   , 6.,  45., 110.   ),
           ('2023-11-25',  5., 106.   , 131.   ,  8.,  45.,  75.   , 6.,  27.,  34.   ),
           ('2023-11-26',  5., 110.   , 212.   ,  8.,  58.,  83.   , 6.,  42.,  55.   ),
           ('2023-11-27',  4.,  86.   , 122.   ,  6.,  69., 127.   , 5.,  35.,  55.   ),
           ('2023-11-28',  4.,  69.   ,  99.   ,  6.,  43.,  70.   , 4.,  29.,  45.   ),
           ('2023-11-29',  5.,  87.   , 119.   ,  6.,  53.,  91.   , 4.,  32.,  52.   ),
           ('2023-11-30',  4., 109.   , 191.   ,  6.,  85., 154.   , 4.,  32.,  57.   )],
          dtype=[('day', 'O'), ('Local O 50p', '<f8'), ('Local O 99,5p', '<f8'), ('Local O 99,8p', '<f8'), ('Remote O 50p', '<f8'), ('Remote O 99,5p', '<f8'), ('Remote O 99,8p', '<f8'), ('Remote Rprt O 50p', '<f8'), ('Remote Rprt O 99,5p', '<f8'), ('Remote Rprt O 99,8p', '<f8')])

In [121]:
res = aykirilar.to_records(index = False)

In [122]:
res[:] = baski_deger.to_records(index = False)

In [123]:
res

rec.array([('2023-11-01', 10., 136., 253., 10., 304., 411.324, 6., 60., 158.),
           ('2023-11-01', 10., 136., 253., 10., 304., 411.324, 6., 60., 158.),
           ('2023-11-01', 10., 136., 253., 10., 304., 411.324, 6., 60., 158.),
           ('2023-11-01', 10., 136., 253., 10., 304., 411.324, 6., 60., 158.),
           ('2023-11-01', 10., 136., 253., 10., 304., 411.324, 6., 60., 158.),
           ('2023-11-01', 10., 136., 253., 10., 304., 411.324, 6., 60., 158.),
           ('2023-11-01', 10., 136., 253., 10., 304., 411.324, 6., 60., 158.),
           ('2023-11-01', 10., 136., 253., 10., 304., 411.324, 6., 60., 158.),
           ('2023-11-01', 10., 136., 253., 10., 304., 411.324, 6., 60., 158.),
           ('2023-11-01', 10., 136., 253., 10., 304., 411.324, 6., 60., 158.),
           ('2023-11-01', 10., 136., 253., 10., 304., 411.324, 6., 60., 158.),
           ('2023-11-01', 10., 136., 253., 10., 304., 411.324, 6., 60., 158.),
           ('2023-11-01', 10., 136., 253., 10., 304., 411.324, 6., 60., 158.),
           ('2023-11-01', 10., 136., 253., 10., 304., 411.324, 6., 60., 158.),
           ('2023-11-01', 10., 136., 253., 10., 304., 411.324, 6., 60., 158.),
           ('2023-11-01', 10., 136., 253., 10., 304., 411.324, 6., 60., 158.),
           ('2023-11-01', 10., 136., 253., 10., 304., 411.324, 6., 60., 158.),
           ('2023-11-01', 10., 136., 253., 10., 304., 411.324, 6., 60., 158.),
           ('2023-11-01', 10., 136., 253., 10., 304., 411.324, 6., 60., 158.),
           ('2023-11-01', 10., 136., 253., 10., 304., 411.324, 6., 60., 158.),
           ('2023-11-01', 10., 136., 253., 10., 304., 411.324, 6., 60., 158.),
           ('2023-11-01', 10., 136., 253., 10., 304., 411.324, 6., 60., 158.),
           ('2023-11-01', 10., 136., 253., 10., 304., 411.324, 6., 60., 158.)],
          dtype=[('day', 'O'), ('Local O 50p', '<f8'), ('Local O 99,5p', '<f8'), ('Local O 99,8p', '<f8'), ('Remote O 50p', '<f8'), ('Remote O 99,5p', '<f8'), ('Remote O 99,8p', '<f8'), ('Remote Rprt O 50p', '<f8'), ('Remote Rprt O 99,5p', '<f8'), ('Remote Rprt O 99,8p', '<f8')])

In [124]:
data[~aykiri_tf]

,day,Local O 50p,"Local O 99,5p","Local O 99,8p",Remote O 50p,"Remote O 99,5p","Remote O 99,8p",Remote Rprt O 50p,"Remote Rprt O 99,5p","Remote Rprt O 99,8p"
0,2023-11-01,10.0,136.000,253.000,10.0,304.0,411.324,6.0,60.0,158.000
1,2023-11-02,8.0,138.000,198.000,11.0,333.0,418.000,7.0,111.0,190.000
2,2023-11-03,12.0,117.000,175.000,10.0,126.0,188.000,7.0,39.0,65.000
3,2023-11-04,12.0,99.000,131.000,10.0,106.0,218.000,6.0,32.0,43.000
4,2023-11-05,7.0,158.000,247.076,12.0,559.0,748.000,6.0,143.0,255.000
5,2023-11-06,6.0,166.000,365.000,10.0,413.0,585.000,6.0,195.0,314.000
6,2023-11-07,12.0,149.000,277.000,12.0,402.0,489.000,6.0,153.0,273.000
7,2023-11-08,10.0,194.245,472.000,11.0,371.0,521.000,7.0,206.0,340.000
8,2023-11-09,11.0,117.000,208.000,7.0,193.0,307.000,5.0,37.0,79.000
9,2023-11-10,6.0,108.000,191.838,6.0,136.0,229.000,4.0,66.0,143.096
10,2023-11-11,6.0,99.000,132.000,5.0,69.0,182.000,4.0,29.0,48.000
11,2023-11-12,6.0,102.000,141.670,7.0,76.0,155.000,4.0,31.0,44.000
12,2023-11-13,8.0,111.000,252.000,6.0,215.0,266.000,4.0,42.0,153.000
13,2023-11-14,11.0,95.000,136.000,7.0,65.0,99.000,4.0,38.0,60.000
17,2023-11-18,5.0,5.990,5.996,0.0,0.0,0.000,0.0,0.0,0.000
18,2023-11-19,14.0,15.945,15.978,0.0,0.0,0.000,0.0,0.0,0.000
23,2023-11-24,5.0,112.000,152.000,8.0,111.0,193.000,6.0,45.0,110.000
24,2023-11-25,5.0,106.000,131.000,8.0,45.0,75.000,6.0,27.0,34.000
25,2023-11-26,5.0,110.000,212.000,8.0,58.0,83.000,6.0,42.0,55.000
26,2023-11-27,4.0,86.000,122.000,6.0,69.0,127.000,5.0,35.0,55.000
27,2023-11-28,4.0,69.000,99.000,6.0,43.0,70.000,4.0,29.0,45.000
28,2023-11-29,5.0,87.000,119.000,6.0,53.0,91.000,4.0,32.0,52.000
29,2023-11-30,4.0,109.000,191.000,6.0,85.0,154.000,4.0,32.0,57.000

In [125]:
import pandas as pd
data[~aykiri_tf] = pd.DataFrame(res, index = data[~aykiri_tf].index)

In [126]:
data[~aykiri_tf]

,day,Local O 50p,"Local O 99,5p","Local O 99,8p",Remote O 50p,"Remote O 99,5p","Remote O 99,8p",Remote Rprt O 50p,"Remote Rprt O 99,5p","Remote Rprt O 99,8p"
0,2023-11-01,10.0,136.0,253.0,10.0,304.0,411.324,6.0,60.0,158.0
1,2023-11-01,10.0,136.0,253.0,10.0,304.0,411.324,6.0,60.0,158.0
2,2023-11-01,10.0,136.0,253.0,10.0,304.0,411.324,6.0,60.0,158.0
3,2023-11-01,10.0,136.0,253.0,10.0,304.0,411.324,6.0,60.0,158.0
4,2023-11-01,10.0,136.0,253.0,10.0,304.0,411.324,6.0,60.0,158.0
5,2023-11-01,10.0,136.0,253.0,10.0,304.0,411.324,6.0,60.0,158.0
6,2023-11-01,10.0,136.0,253.0,10.0,304.0,411.324,6.0,60.0,158.0
7,2023-11-01,10.0,136.0,253.0,10.0,304.0,411.324,6.0,60.0,158.0
8,2023-11-01,10.0,136.0,253.0,10.0,304.0,411.324,6.0,60.0,158.0
9,2023-11-01,10.0,136.0,253.0,10.0,304.0,411.324,6.0,60.0,158.0
10,2023-11-01,10.0,136.0,253.0,10.0,304.0,411.324,6.0,60.0,158.0
11,2023-11-01,10.0,136.0,253.0,10.0,304.0,411.324,6.0,60.0,158.0
12,2023-11-01,10.0,136.0,253.0,10.0,304.0,411.324,6.0,60.0,158.0
13,2023-11-01,10.0,136.0,253.0,10.0,304.0,411.324,6.0,60.0,158.0
17,2023-11-01,10.0,136.0,253.0,10.0,304.0,411.324,6.0,60.0,158.0
18,2023-11-01,10.0,136.0,253.0,10.0,304.0,411.324,6.0,60.0,158.0
23,2023-11-01,10.0,136.0,253.0,10.0,304.0,411.324,6.0,60.0,158.0
24,2023-11-01,10.0,136.0,253.0,10.0,304.0,411.324,6.0,60.0,158.0
25,2023-11-01,10.0,136.0,253.0,10.0,304.0,411.324,6.0,60.0,158.0
26,2023-11-01,10.0,136.0,253.0,10.0,304.0,411.324,6.0,60.0,158.0
27,2023-11-01,10.0,136.0,253.0,10.0,304.0,411.324,6.0,60.0,158.0
28,2023-11-01,10.0,136.0,253.0,10.0,304.0,411.324,6.0,60.0,158.0
29,2023-11-01,10.0,136.0,253.0,10.0,304.0,411.324,6.0,60.0,158.0

# Eksik Veri Analizi

## Hızlı Çözüm

In [ ]:
import numpy as np
import pandas as pd
V1 = np.array([1,3,6,np.NaN,7,1,np.NaN,9,15])
V2 = np.array([7,np.NaN,5,8,12,np.NaN,np.NaN,2,3])
V3 = np.array([np.NaN,12,5,6,14,7,np.NaN,2,31])
df = pd.DataFrame(
        {"V1" : V1,
         "V2" : V2,
         "V3" : V3}        
)

df

In [ ]:
df.isnull().sum()

In [ ]:
df.notnull().sum()

In [ ]:
df.isnull().sum().sum()

In [ ]:
df.isnull()

In [ ]:
df[df.isnull().any(axis = 1)]

In [ ]:
df[df.notnull().all(axis = 1)]

In [ ]:
df[df["V1"].notnull() & df["V2"].notnull()& df["V3"].notnull()]

In [ ]:
#eksik degerlerin direk silinmesi

In [ ]:
df.dropna()

In [ ]:
df

In [ ]:
#basit deger atama

In [ ]:
df["V1"]

In [ ]:
df["V1"].mean()

In [ ]:
df["V1"].fillna(df["V1"].mean())

In [ ]:
df["V2"].fillna(0)

In [ ]:
df.apply(lambda x: x.fillna(x.mean()), axis = 0)

## Eksik Değerlerin Saptanması

In [241]:
data_1 = pd.read_csv("2023-11.csv", sep=';')
data_1 = data_1.drop('day', axis=1)

In [245]:
#değişkenlerdeki tam değer sayısı
data_1 = data_1.round(2)

In [246]:
data_1

,Local O 50p,"Local O 99,5p","Local O 99,8p",Remote O 50p,"Remote O 99,5p","Remote O 99,8p",Remote Rprt O 50p,"Remote Rprt O 99,5p","Remote Rprt O 99,8p"
0,10.0,136.00,253.00,10.0,304.00,411.32,6.0,60.00,158.00
1,8.0,138.00,198.00,11.0,333.00,418.00,7.0,111.00,190.00
2,12.0,117.00,175.00,10.0,126.00,188.00,7.0,39.00,65.00
3,12.0,99.00,131.00,10.0,106.00,218.00,6.0,32.00,43.00
4,7.0,158.00,247.08,12.0,559.00,748.00,6.0,143.00,255.00
5,6.0,166.00,365.00,10.0,413.00,585.00,6.0,195.00,314.00
6,12.0,149.00,277.00,12.0,402.00,489.00,6.0,153.00,273.00
7,10.0,194.24,472.00,11.0,371.00,521.00,7.0,206.00,340.00
8,11.0,117.00,208.00,7.0,193.00,307.00,5.0,37.00,79.00
9,6.0,108.00,191.84,6.0,136.00,229.00,4.0,66.00,143.10
10,6.0,99.00,132.00,5.0,69.00,182.00,4.0,29.00,48.00
11,6.0,102.00,141.67,7.0,76.00,155.00,4.0,31.00,44.00
12,8.0,111.00,252.00,6.0,215.00,266.00,4.0,42.00,153.00
13,11.0,95.00,136.00,7.0,65.00,99.00,4.0,38.00,60.00
14,9.0,456.00,484.00,6.0,316.00,413.00,4.0,63.00,195.78
15,7.0,12876957.74,15053461.18,11.0,13917193.48,15476822.02,7.0,15050237.36,16852651.16
16,9.0,55607719.54,65018313.86,15.0,59152451.68,67004034.65,1162017.0,61905170.71,69092656.00
17,5.0,5.99,6.00,0.0,0.00,0.00,0.0,0.00,0.00
18,14.0,15.94,15.98,0.0,0.00,0.00,0.0,0.00,0.00
19,6.0,33253619.68,50396288.58,7.0,25893979.32,36064388.35,6.0,29298198.00,43903462.68
20,6.0,15383599.70,20401080.27,8.0,17248342.04,21546930.81,5.0,14934213.62,19330388.45
21,7.0,33103627.12,38038614.07,14.0,35812307.70,40616077.38,1131433.0,38122936.55,42136917.15
22,5.0,13747815.65,20542696.66,7.0,20938956.68,26678030.32,6.0,19783787.88,25172910.91
23,5.0,112.00,152.00,8.0,111.00,193.00,6.0,45.00,110.00
24,5.0,106.00,131.00,8.0,45.00,75.00,6.0,27.00,34.00
25,5.0,110.00,212.00,8.0,58.00,83.00,6.0,42.00,55.00
26,4.0,86.00,122.00,6.0,69.00,127.00,5.0,35.00,55.00
27,4.0,69.00,99.00,6.0,43.00,70.00,4.0,29.00,45.00
28,5.0,87.00,119.00,6.0,53.00,91.00,4.0,32.00,52.00
29,4.0,109.00,191.00,6.0,85.00,154.00,4.0,32.00,57.00

In [247]:
data_1[data_1 > 900] = np.nan

In [248]:
data_1

,Local O 50p,"Local O 99,5p","Local O 99,8p",Remote O 50p,"Remote O 99,5p","Remote O 99,8p",Remote Rprt O 50p,"Remote Rprt O 99,5p","Remote Rprt O 99,8p"
0,10.0,136.00,253.00,10.0,304.0,411.32,6.0,60.0,158.00
1,8.0,138.00,198.00,11.0,333.0,418.00,7.0,111.0,190.00
2,12.0,117.00,175.00,10.0,126.0,188.00,7.0,39.0,65.00
3,12.0,99.00,131.00,10.0,106.0,218.00,6.0,32.0,43.00
4,7.0,158.00,247.08,12.0,559.0,748.00,6.0,143.0,255.00
5,6.0,166.00,365.00,10.0,413.0,585.00,6.0,195.0,314.00
6,12.0,149.00,277.00,12.0,402.0,489.00,6.0,153.0,273.00
7,10.0,194.24,472.00,11.0,371.0,521.00,7.0,206.0,340.00
8,11.0,117.00,208.00,7.0,193.0,307.00,5.0,37.0,79.00
9,6.0,108.00,191.84,6.0,136.0,229.00,4.0,66.0,143.10
10,6.0,99.00,132.00,5.0,69.0,182.00,4.0,29.0,48.00
11,6.0,102.00,141.67,7.0,76.0,155.00,4.0,31.0,44.00
12,8.0,111.00,252.00,6.0,215.0,266.00,4.0,42.0,153.00
13,11.0,95.00,136.00,7.0,65.0,99.00,4.0,38.0,60.00
14,9.0,456.00,484.00,6.0,316.0,413.00,4.0,63.0,195.78
15,7.0,NaN,NaN,11.0,NaN,NaN,7.0,NaN,NaN
16,9.0,NaN,NaN,15.0,NaN,NaN,NaN,NaN,NaN
17,5.0,5.99,6.00,0.0,0.0,0.00,0.0,0.0,0.00
18,14.0,15.94,15.98,0.0,0.0,0.00,0.0,0.0,0.00
19,6.0,NaN,NaN,7.0,NaN,NaN,6.0,NaN,NaN
20,6.0,NaN,NaN,8.0,NaN,NaN,5.0,NaN,NaN
21,7.0,NaN,NaN,14.0,NaN,NaN,NaN,NaN,NaN
22,5.0,NaN,NaN,7.0,NaN,NaN,6.0,NaN,NaN
23,5.0,112.00,152.00,8.0,111.0,193.00,6.0,45.0,110.00
24,5.0,106.00,131.00,8.0,45.0,75.00,6.0,27.0,34.00
25,5.0,110.00,212.00,8.0,58.0,83.00,6.0,42.0,55.00
26,4.0,86.00,122.00,6.0,69.0,127.00,5.0,35.0,55.00
27,4.0,69.00,99.00,6.0,43.0,70.00,4.0,29.0,45.00
28,5.0,87.00,119.00,6.0,53.0,91.00,4.0,32.0,52.00
29,4.0,109.00,191.00,6.0,85.0,154.00,4.0,32.0,57.00

In [230]:
#değişkenlerdeki eksik değer sayısı
lb = data_1.quantile(0.0)
ub = data_1.quantile(0.99)
df_new = data_1[data_1 > 500] = 'Na'

TypeError: '<' not supported between instances of 'type' and 'float'

In [227]:
df_new

NameError

In [169]:
#veri setindeki toplam eksik değer sayısı
df_new.isnull().sum().sum()

32

In [170]:
#en az bir eksik değere sahip gözlemler
df_new[df_new.isnull().any(axis=1)]

,Local O 50p,"Local O 99,5p","Local O 99,8p",Remote O 50p,"Remote O 99,5p","Remote O 99,8p",Remote Rprt O 50p,"Remote Rprt O 99,5p","Remote Rprt O 99,8p"
7,10.0,NaN,4.720000e+02,11.0,3.710000e+02,5.210000e+02,7.0,2.060000e+02,3.400000e+02
14,9.0,NaN,4.840000e+02,6.0,3.160000e+02,4.130000e+02,4.0,6.300000e+01,1.957800e+02
15,7.0,NaN,1.505346e+07,11.0,1.391719e+07,1.547682e+07,7.0,1.505024e+07,1.685265e+07
16,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,5.0,5.990,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,15.945,1.597800e+01,NaN,NaN,NaN,NaN,NaN,NaN
19,6.0,NaN,5.039629e+07,7.0,2.589398e+07,3.606439e+07,6.0,2.929820e+07,4.390346e+07
20,6.0,NaN,2.040108e+07,8.0,1.724834e+07,2.154693e+07,5.0,1.493421e+07,1.933039e+07
21,7.0,NaN,3.803861e+07,14.0,3.581231e+07,4.061608e+07,1131433.0,3.812294e+07,4.213692e+07
22,5.0,NaN,2.054270e+07,7.0,2.093896e+07,2.667803e+07,6.0,1.978379e+07,2.517291e+07
26,NaN,86.000,1.220000e+02,6.0,6.900000e+01,1.270000e+02,5.0,3.500000e+01,5.500000e+01
27,NaN,69.000,9.900000e+01,6.0,4.300000e+01,7.000000e+01,4.0,2.900000e+01,4.500000e+01
29,NaN,109.000,1.910000e+02,6.0,8.500000e+01,1.540000e+02,4.0,3.200000e+01,5.700000e+01

In [171]:
#tüm değerleri tam olan gözlemler
df_new[df_new.notnull().all(axis=1)]

,Local O 50p,"Local O 99,5p","Local O 99,8p",Remote O 50p,"Remote O 99,5p","Remote O 99,8p",Remote Rprt O 50p,"Remote Rprt O 99,5p","Remote Rprt O 99,8p"
0,10.0,136.0,253.000,10.0,304.0,411.324,6.0,60.0,158.000
1,8.0,138.0,198.000,11.0,333.0,418.000,7.0,111.0,190.000
2,12.0,117.0,175.000,10.0,126.0,188.000,7.0,39.0,65.000
3,12.0,99.0,131.000,10.0,106.0,218.000,6.0,32.0,43.000
4,7.0,158.0,247.076,12.0,559.0,748.000,6.0,143.0,255.000
5,6.0,166.0,365.000,10.0,413.0,585.000,6.0,195.0,314.000
6,12.0,149.0,277.000,12.0,402.0,489.000,6.0,153.0,273.000
8,11.0,117.0,208.000,7.0,193.0,307.000,5.0,37.0,79.000
9,6.0,108.0,191.838,6.0,136.0,229.000,4.0,66.0,143.096
10,6.0,99.0,132.000,5.0,69.0,182.000,4.0,29.0,48.000
11,6.0,102.0,141.670,7.0,76.0,155.000,4.0,31.0,44.000
12,8.0,111.0,252.000,6.0,215.0,266.000,4.0,42.0,153.000
13,11.0,95.0,136.000,7.0,65.0,99.000,4.0,38.0,60.000
23,5.0,112.0,152.000,8.0,111.0,193.000,6.0,45.0,110.000
24,5.0,106.0,131.000,8.0,45.0,75.000,6.0,27.0,34.000
25,5.0,110.0,212.000,8.0,58.0,83.000,6.0,42.0,55.000
28,5.0,87.0,119.000,6.0,53.0,91.000,4.0,32.0,52.000

In [271]:
data.round(2)

,day,Local O 50p,"Local O 99,5p","Local O 99,8p",Remote O 50p,"Remote O 99,5p","Remote O 99,8p",Remote Rprt O 50p,"Remote Rprt O 99,5p","Remote Rprt O 99,8p"
0,2023-11-01,10.0,136.00,253.00,10.0,304.00,411.32,6.0,60.00,158.00
1,2023-11-02,8.0,138.00,198.00,11.0,333.00,418.00,7.0,111.00,190.00
2,2023-11-03,12.0,117.00,175.00,10.0,126.00,188.00,7.0,39.00,65.00
3,2023-11-04,12.0,99.00,131.00,10.0,106.00,218.00,6.0,32.00,43.00
4,2023-11-05,7.0,158.00,247.08,12.0,559.00,748.00,6.0,143.00,255.00
5,2023-11-06,6.0,166.00,365.00,10.0,413.00,585.00,6.0,195.00,314.00
6,2023-11-07,12.0,149.00,277.00,12.0,402.00,489.00,6.0,153.00,273.00
7,2023-11-08,10.0,194.24,472.00,11.0,371.00,521.00,7.0,206.00,340.00
8,2023-11-09,11.0,117.00,208.00,7.0,193.00,307.00,5.0,37.00,79.00
9,2023-11-10,6.0,108.00,191.84,6.0,136.00,229.00,4.0,66.00,143.10
10,2023-11-11,6.0,99.00,132.00,5.0,69.00,182.00,4.0,29.00,48.00
11,2023-11-12,6.0,102.00,141.67,7.0,76.00,155.00,4.0,31.00,44.00
12,2023-11-13,8.0,111.00,252.00,6.0,215.00,266.00,4.0,42.00,153.00
13,2023-11-14,11.0,95.00,136.00,7.0,65.00,99.00,4.0,38.00,60.00
14,2023-11-15,9.0,456.00,484.00,6.0,316.00,413.00,4.0,63.00,195.78
15,2023-11-16,7.0,12876957.75,15053461.18,11.0,13917193.48,15476822.02,7.0,15050237.37,16852651.16
16,2023-11-17,9.0,55607719.54,65018313.86,15.0,59152451.68,67004034.65,1162017.0,61905170.71,69092656.00
17,2023-11-18,5.0,5.99,6.00,0.0,0.00,0.00,0.0,0.00,0.00
18,2023-11-19,14.0,15.94,15.98,0.0,0.00,0.00,0.0,0.00,0.00
19,2023-11-20,6.0,33253619.68,50396288.58,7.0,25893979.32,36064388.35,6.0,29298198.00,43903462.68
20,2023-11-21,6.0,15383599.70,20401080.27,8.0,17248342.04,21546930.81,5.0,14934213.62,19330388.45
21,2023-11-22,7.0,33103627.12,38038614.07,14.0,35812307.70,40616077.38,1131433.0,38122936.55,42136917.15
22,2023-11-23,5.0,13747815.65,20542696.66,7.0,20938956.68,26678030.32,6.0,19783787.88,25172910.91
23,2023-11-24,5.0,112.00,152.00,8.0,111.00,193.00,6.0,45.00,110.00
24,2023-11-25,5.0,106.00,131.00,8.0,45.00,75.00,6.0,27.00,34.00
25,2023-11-26,5.0,110.00,212.00,8.0,58.00,83.00,6.0,42.00,55.00
26,2023-11-27,4.0,86.00,122.00,6.0,69.00,127.00,5.0,35.00,55.00
27,2023-11-28,4.0,69.00,99.00,6.0,43.00,70.00,4.0,29.00,45.00
28,2023-11-29,5.0,87.00,119.00,6.0,53.00,91.00,4.0,32.00,52.00
29,2023-11-30,4.0,109.00,191.00,6.0,85.00,154.00,4.0,32.00,57.00

## Kategorik Değişken Kırılımında Değer Atama

In [ ]:
V1 = np.array([1,3,6,np.NaN,7,1,np.NaN,9,15])
V2 = np.array([7,np.NaN,5,8,12,np.NaN,np.NaN,2,3])
V3 = np.array([np.NaN,12,5,6,14,7,np.NaN,2,31])
V4 = np.array(["IT","IT","IK","IK","IK","IK","IK","IT","IT"])

df = pd.DataFrame(
        {"maas" : V1,
         "V2" : V2,
         "V3" : V3,
        "departman" : V4}        
)

df

In [ ]:
df.groupby("departman")["maas"].mean()

In [ ]:
df["maas"].fillna(df.groupby("departman")["maas"].transform("mean"))

## Kategorik Değişkenler için Eksik Değer Atama

In [1]:
import numpy as np
import pandas as pd
V1 = np.array([1,3,6,np.NaN,7,1,np.NaN,9,15])
V4 = np.array(["IT",np.nan,"IK","IK","IK","IK","IK","IT","IT"], dtype=object)

df = pd.DataFrame(
        {"maas" : V1,
        "departman" : V4}        
)

df

   maas departman
0   1.0        IT
1   3.0       NaN
2   6.0        IK
3   NaN        IK
4   7.0        IK
5   1.0        IK
6   NaN        IK
7   9.0        IT
8  15.0        IT

In [2]:
df["departman"].mode()[0]

'IK'

In [3]:
df["departman"].fillna(df["departman"].mode()[0])

0    IT
1    IK
2    IK
3    IK
4    IK
5    IK
6    IK
7    IT
8    IT
Name: departman, dtype: object

In [5]:
df

   maas departman
0   1.0        IT
1   3.0       NaN
2   6.0        IK
3   NaN        IK
4   7.0        IK
5   1.0        IK
6   NaN        IK
7   9.0        IT
8  15.0        IT

In [6]:
df["departman"].fillna(method = "bfill")

0    IT
1    IK
2    IK
3    IK
4    IK
5    IK
6    IK
7    IT
8    IT
Name: departman, dtype: object

In [7]:
df["departman"].fillna(method = "ffill")

0    IT
1    IT
2    IK
3    IK
4    IK
5    IK
6    IK
7    IT
8    IT
Name: departman, dtype: object

In [ ]:
import pandas as pd 
import numpy as np
from ycimpute.imputer import knnimput
data_1 = pd.read_csv("2023-11.csv", sep=';')
data_1 = data_1.drop('day', axis=1)
data_1[data_1 > 900] = np.nan
var_names = list(data_1)
n_df = np.array(data_1)
dff = knnimput.KNN(k = 4).complete(n_df)
dff = pd.DataFrame(dff, columns = var_names)

## Tahmine Dayalı Değer Atama Yöntemleri

In [249]:
data_1.isnull().sum()

Local O 50p            0
Local O 99,5p          6
Local O 99,8p          6
Remote O 50p           0
Remote O 99,5p         6
Remote O 99,8p         6
Remote Rprt O 50p      2
Remote Rprt O 99,5p    6
Remote Rprt O 99,8p    6
dtype: int64

In [174]:
!pip install ycimpute

Looking in indexes: https://artifactory.dbgcloud.io/artifactory/api/pypi/pypi.python.org/simple
Collecting ycimpute
  Downloading https://artifactory.dbgcloud.io/artifactory/api/pypi/pypi.python.org/packages/packages/64/7b/e36e4600f76448552084c021f93031f7926072fa1c672753e06b044aedee/ycimpute-0.2-py3-none-any.whl (35 kB)
Requirement already satisfied: six in /home/volkan/.conda/envs/myenv/lib/python3.12/site-packages (from ycimpute) (1.16.0)
Requirement already satisfied: numpy>=1.10 in /home/volkan/.conda/envs/myenv/lib/python3.12/site-packages (from ycimpute) (1.26.2)
Requirement already satisfied: scipy in /home/volkan/.conda/envs/myenv/lib/python3.12/site-packages (from ycimpute) (1.11.4)
Requirement already satisfied: scikit-learn>=0.17.1 in /home/volkan/.conda/envs/myenv/lib/python3.12/site-packages (from ycimpute) (1.3.2)
INFO: pip is looking at multiple versions of ycimpute to determine which version is compatible with other requirements. This could take a while.
  Downloading https://artifactory.dbgcloud.io/artifactory/api/pypi/pypi.python.org/packages/packages/6c/66/30c5c103223387a3aaefa6e97bdeae08d7836e5c8501b9d09f5fb0c2534d/ycimpute-0.1.1-py2.py3-none-any.whl (31 kB)
Requirement already satisfied: joblib>=1.1.1 in /home/volkan/.conda/envs/myenv/lib/python3.12/site-packages (from scikit-learn>=0.17.1->ycimpute) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/volkan/.conda/envs/myenv/lib/python3.12/site-packages (from scikit-learn>=0.17.1->ycimpute) (3.2.0)
Installing collected packages: ycimpute
Successfully installed ycimpute-0.1.1

In [250]:
var_names = list(data_1)

In [251]:
data_1

,Local O 50p,"Local O 99,5p","Local O 99,8p",Remote O 50p,"Remote O 99,5p","Remote O 99,8p",Remote Rprt O 50p,"Remote Rprt O 99,5p","Remote Rprt O 99,8p"
0,10.0,136.00,253.00,10.0,304.0,411.32,6.0,60.0,158.00
1,8.0,138.00,198.00,11.0,333.0,418.00,7.0,111.0,190.00
2,12.0,117.00,175.00,10.0,126.0,188.00,7.0,39.0,65.00
3,12.0,99.00,131.00,10.0,106.0,218.00,6.0,32.0,43.00
4,7.0,158.00,247.08,12.0,559.0,748.00,6.0,143.0,255.00
5,6.0,166.00,365.00,10.0,413.0,585.00,6.0,195.0,314.00
6,12.0,149.00,277.00,12.0,402.0,489.00,6.0,153.0,273.00
7,10.0,194.24,472.00,11.0,371.0,521.00,7.0,206.0,340.00
8,11.0,117.00,208.00,7.0,193.0,307.00,5.0,37.0,79.00
9,6.0,108.00,191.84,6.0,136.0,229.00,4.0,66.0,143.10
10,6.0,99.00,132.00,5.0,69.0,182.00,4.0,29.0,48.00
11,6.0,102.00,141.67,7.0,76.0,155.00,4.0,31.0,44.00
12,8.0,111.00,252.00,6.0,215.0,266.00,4.0,42.0,153.00
13,11.0,95.00,136.00,7.0,65.0,99.00,4.0,38.0,60.00
14,9.0,456.00,484.00,6.0,316.0,413.00,4.0,63.0,195.78
15,7.0,NaN,NaN,11.0,NaN,NaN,7.0,NaN,NaN
16,9.0,NaN,NaN,15.0,NaN,NaN,NaN,NaN,NaN
17,5.0,5.99,6.00,0.0,0.0,0.00,0.0,0.0,0.00
18,14.0,15.94,15.98,0.0,0.0,0.00,0.0,0.0,0.00
19,6.0,NaN,NaN,7.0,NaN,NaN,6.0,NaN,NaN
20,6.0,NaN,NaN,8.0,NaN,NaN,5.0,NaN,NaN
21,7.0,NaN,NaN,14.0,NaN,NaN,NaN,NaN,NaN
22,5.0,NaN,NaN,7.0,NaN,NaN,6.0,NaN,NaN
23,5.0,112.00,152.00,8.0,111.0,193.00,6.0,45.0,110.00
24,5.0,106.00,131.00,8.0,45.0,75.00,6.0,27.0,34.00
25,5.0,110.00,212.00,8.0,58.0,83.00,6.0,42.0,55.00
26,4.0,86.00,122.00,6.0,69.0,127.00,5.0,35.0,55.00
27,4.0,69.00,99.00,6.0,43.0,70.00,4.0,29.0,45.00
28,5.0,87.00,119.00,6.0,53.0,91.00,4.0,32.0,52.00
29,4.0,109.00,191.00,6.0,85.0,154.00,4.0,32.0,57.00

In [252]:
import numpy as np
n_df = np.array(data_1)

In [253]:
n_df[0:10]

array([[ 10.  , 136.  , 253.  ,  10.  , 304.  , 411.32,   6.  ,  60.  ,
        158.  ],
       [  8.  , 138.  , 198.  ,  11.  , 333.  , 418.  ,   7.  , 111.  ,
        190.  ],
       [ 12.  , 117.  , 175.  ,  10.  , 126.  , 188.  ,   7.  ,  39.  ,
         65.  ],
       [ 12.  ,  99.  , 131.  ,  10.  , 106.  , 218.  ,   6.  ,  32.  ,
         43.  ],
       [  7.  , 158.  , 247.08,  12.  , 559.  , 748.  ,   6.  , 143.  ,
        255.  ],
       [  6.  , 166.  , 365.  ,  10.  , 413.  , 585.  ,   6.  , 195.  ,
        314.  ],
       [ 12.  , 149.  , 277.  ,  12.  , 402.  , 489.  ,   6.  , 153.  ,
        273.  ],
       [ 10.  , 194.24, 472.  ,  11.  , 371.  , 521.  ,   7.  , 206.  ,
        340.  ],
       [ 11.  , 117.  , 208.  ,   7.  , 193.  , 307.  ,   5.  ,  37.  ,
         79.  ],
       [  6.  , 108.  , 191.84,   6.  , 136.  , 229.  ,   4.  ,  66.  ,
        143.1 ]])

In [254]:
n_df.shape

(30, 9)

In [265]:
dff = knnimput.KNN(k = 2).complete(n_df)

Imputing row 1/30 with 0 missing, elapsed time: 0.006

In [256]:
type(dff)

numpy.ndarray

In [267]:
import pandas as pd
dff = pd.DataFrame(dff, columns = var_names)

In [258]:
type(dff)

pandas.core.frame.DataFrame

In [268]:
dff.isnull().sum()

Local O 50p            0
Local O 99,5p          0
Local O 99,8p          0
Remote O 50p           0
Remote O 99,5p         0
Remote O 99,8p         0
Remote Rprt O 50p      0
Remote Rprt O 99,5p    0
Remote Rprt O 99,8p    0
dtype: int64

In [262]:
dff['day'] = data['day']

In [269]:
dff

,Local O 50p,"Local O 99,5p","Local O 99,8p",Remote O 50p,"Remote O 99,5p","Remote O 99,8p",Remote Rprt O 50p,"Remote Rprt O 99,5p","Remote Rprt O 99,8p"
0,10.0,136.000000,253.000000,10.0,304.000000,411.320000,6.000000,60.000000,158.000000
1,8.0,138.000000,198.000000,11.0,333.000000,418.000000,7.000000,111.000000,190.000000
2,12.0,117.000000,175.000000,10.0,126.000000,188.000000,7.000000,39.000000,65.000000
3,12.0,99.000000,131.000000,10.0,106.000000,218.000000,6.000000,32.000000,43.000000
4,7.0,158.000000,247.080000,12.0,559.000000,748.000000,6.000000,143.000000,255.000000
5,6.0,166.000000,365.000000,10.0,413.000000,585.000000,6.000000,195.000000,314.000000
6,12.0,149.000000,277.000000,12.0,402.000000,489.000000,6.000000,153.000000,273.000000
7,10.0,194.240000,472.000000,11.0,371.000000,521.000000,7.000000,206.000000,340.000000
8,11.0,117.000000,208.000000,7.0,193.000000,307.000000,5.000000,37.000000,79.000000
9,6.0,108.000000,191.840000,6.0,136.000000,229.000000,4.000000,66.000000,143.100000
10,6.0,99.000000,132.000000,5.0,69.000000,182.000000,4.000000,29.000000,48.000000
11,6.0,102.000000,141.670000,7.0,76.000000,155.000000,4.000000,31.000000,44.000000
12,8.0,111.000000,252.000000,6.0,215.000000,266.000000,4.000000,42.000000,153.000000
13,11.0,95.000000,136.000000,7.0,65.000000,99.000000,4.000000,38.000000,60.000000
14,9.0,456.000000,484.000000,6.0,316.000000,413.000000,4.000000,63.000000,195.780000
15,7.0,144.666667,214.360000,11.0,408.333333,528.000000,7.000000,121.666667,211.666667
16,9.0,149.333329,225.811994,15.0,461.066656,604.999986,6.433333,129.133330,226.833328
17,5.0,5.990000,6.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
18,14.0,15.940000,15.980000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
19,6.0,108.000000,171.500000,7.0,51.500000,79.000000,6.000000,34.500000,44.500000
20,6.0,108.000000,171.500000,8.0,51.500000,79.000000,5.000000,34.500000,44.500000
21,7.0,152.285717,233.057148,14.0,494.428581,653.714299,6.307692,133.857146,236.428576
22,5.0,108.000000,171.500000,7.0,51.500000,79.000000,6.000000,34.500000,44.500000
23,5.0,112.000000,152.000000,8.0,111.000000,193.000000,6.000000,45.000000,110.000000
24,5.0,106.000000,131.000000,8.0,45.000000,75.000000,6.000000,27.000000,34.000000
25,5.0,110.000000,212.000000,8.0,58.000000,83.000000,6.000000,42.000000,55.000000
26,4.0,86.000000,122.000000,6.0,69.000000,127.000000,5.000000,35.000000,55.000000
27,4.0,69.000000,99.000000,6.0,43.000000,70.000000,4.000000,29.000000,45.000000
28,5.0,87.000000,119.000000,6.0,53.000000,91.000000,4.000000,32.000000,52.000000
29,4.0,109.000000,191.000000,6.0,85.000000,154.000000,4.000000,32.000000,57.000000

In [263]:
dff.to_csv('2023-11_new.csv')

In [198]:
pd.DataFrame(dff).round(2)

,0,1,2,3,4,5,6,7,8
0,10.00,136.00,253.00,10.00,304.00,411.32,6.00,60.00,158.00
1,8.00,138.00,198.00,11.00,333.00,418.00,7.00,111.00,190.00
2,12.00,117.00,175.00,10.00,126.00,188.00,7.00,39.00,65.00
3,12.00,99.00,131.00,10.00,106.00,218.00,6.00,32.00,43.00
4,7.00,158.00,247.08,12.00,559.00,748.00,6.00,143.00,255.00
5,6.00,166.00,365.00,10.00,413.00,585.00,6.00,195.00,314.00
6,12.00,149.00,277.00,12.00,402.00,489.00,6.00,153.00,273.00
7,10.00,8.54,472.00,11.00,371.00,521.00,7.00,206.00,340.00
8,11.00,117.00,208.00,7.00,193.00,307.00,5.00,37.00,79.00
9,6.00,108.00,191.84,6.00,136.00,229.00,4.00,66.00,143.10
10,6.00,99.00,132.00,5.00,69.00,182.00,4.00,29.00,48.00
11,6.00,102.00,141.67,7.00,76.00,155.00,4.00,31.00,44.00
12,8.00,111.00,252.00,6.00,215.00,266.00,4.00,42.00,153.00
13,11.00,95.00,136.00,7.00,65.00,99.00,4.00,38.00,60.00
14,9.00,6.75,484.00,6.00,316.00,413.00,4.00,63.00,195.78
15,7.00,5.99,15053461.18,11.00,13917193.48,15476822.02,7.00,15050237.36,16852651.16
16,9.00,125.77,484.00,6.00,316.00,413.00,4.00,63.00,195.78
17,5.00,5.99,20542725.00,7.00,20938956.19,26678031.77,6.00,19783791.36,25172921.72
18,5.08,15.94,15.98,6.71,62.31,113.90,4.58,31.56,48.47
19,6.00,5.99,50396288.58,7.00,25893979.32,36064388.35,6.00,29298198.00,43903462.68
20,6.00,5.99,20401080.27,8.00,17248342.04,21546930.81,5.00,14934213.62,19330388.45
21,7.00,5.99,38038614.07,14.00,35812307.70,40616077.38,1131433.00,38122936.55,42136917.15
22,5.00,5.99,20542696.66,7.00,20938956.68,26678030.32,6.00,19783787.88,25172910.91
23,5.00,112.00,152.00,8.00,111.00,193.00,6.00,45.00,110.00
24,5.00,106.00,131.00,8.00,45.00,75.00,6.00,27.00,34.00
25,5.00,110.00,212.00,8.00,58.00,83.00,6.00,42.00,55.00
26,7.58,86.00,122.00,6.00,69.00,127.00,5.00,35.00,55.00
27,6.14,69.00,99.00,6.00,43.00,70.00,4.00,29.00,45.00
28,5.00,87.00,119.00,6.00,53.00,91.00,4.00,32.00,52.00
29,7.60,109.00,191.00,6.00,85.00,154.00,4.00,32.00,57.00

In [ ]:
#random forests

In [16]:
import seaborn as sns
import missingno as msno
df = sns.load_dataset('titanic')
df = df.select_dtypes(include = ['float64', 'int64'])

In [17]:
df.isnull().sum()

survived      0
pclass        0
age         177
sibsp         0
parch         0
fare          0
dtype: int64

In [18]:
var_names = list(df)

In [19]:
import numpy as np
n_df = np.array(df)

In [20]:
from ycimpute.imputer import iterforest
dff = iterforest.IterImput().complete(n_df)

/Users/mvahit/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [21]:
dff = pd.DataFrame(dff, columns = var_names)

In [22]:
dff.isnull().sum()

survived    0
pclass      0
age         0
sibsp       0
parch       0
fare        0
dtype: int64

In [ ]:
#EM

In [23]:
import seaborn as sns
import missingno as msno
df = sns.load_dataset('titanic')
df = df.select_dtypes(include = ['float64', 'int64'])

In [24]:
from ycimpute.imputer import EM

In [25]:
var_names = list(df)

In [26]:
import numpy as np
n_df = np.array(df)

In [27]:
dff = EM().complete(n_df)

In [28]:
dff = pd.DataFrame(dff, columns = var_names)

In [29]:
dff.isnull().sum()

survived    0
pclass      0
age         0
sibsp       0
parch       0
fare        0
dtype: int64

# Değişken Standardizasyonu (Veri Standardizasyonu)

In [2]:
import numpy as np
import pandas as pd
V1 = np.array([1,3,6,5,7])
V2 = np.array([7,7,5,8,12])
V3 = np.array([6,12,5,6,14])
df = pd.DataFrame(
        {"V1" : V1,
         "V2" : V2,
         "V3" : V3})

df = df.astype(float)
df

    V1    V2    V3
0  1.0   7.0   6.0
1  3.0   7.0  12.0
2  6.0   5.0   5.0
3  5.0   8.0   6.0
4  7.0  12.0  14.0

## Standardizasyon

In [3]:
from sklearn import preprocessing

In [4]:
preprocessing.scale(df)

array([[-1.57841037, -0.34554737, -0.70920814],
       [-0.64993368, -0.34554737,  0.92742603],
       [ 0.74278135, -1.2094158 , -0.98198051],
       [ 0.27854301,  0.08638684, -0.70920814],
       [ 1.2070197 ,  1.81412369,  1.47297076]])

In [8]:
df

    V1    V2    V3
0  1.0   7.0   6.0
1  3.0   7.0  12.0
2  6.0   5.0   5.0
3  5.0   8.0   6.0
4  7.0  12.0  14.0

## Normalizasyon

In [9]:
preprocessing.normalize(df)

array([[0.10783277, 0.75482941, 0.64699664],
       [0.21107926, 0.49251828, 0.84431705],
       [0.64699664, 0.53916387, 0.53916387],
       [0.4472136 , 0.71554175, 0.53665631],
       [0.35491409, 0.60842415, 0.70982818]])

## Min-Max Dönüşümü

In [13]:
scaler = preprocessing.MinMaxScaler(feature_range = (100,200))

In [14]:
scaler.fit_transform(df)

array([[100.        , 128.57142857, 111.11111111],
       [133.33333333, 128.57142857, 177.77777778],
       [183.33333333, 100.        , 100.        ],
       [166.66666667, 142.85714286, 111.11111111],
       [200.        , 200.        , 200.        ]])

## Değişken Dönüşümleri

In [16]:
import seaborn as sns
df = sns.load_dataset('tips')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

### 0-1 Dönüşümü

In [17]:
from sklearn.preprocessing import LabelEncoder

lbe = LabelEncoder()

In [20]:
lbe.fit_transform(df["sex"])

array([0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0,
       0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1,
       1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0,
       1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0,
       0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0,
       1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1,
       1, 0])

In [22]:
df["yeni_sex"] = lbe.fit_transform(df["sex"])

In [23]:
df

     total_bill   tip     sex smoker   day    time  size  yeni_sex
0         16.99  1.01  Female     No   Sun  Dinner     2         0
1         10.34  1.66    Male     No   Sun  Dinner     3         1
2         21.01  3.50    Male     No   Sun  Dinner     3         1
3         23.68  3.31    Male     No   Sun  Dinner     2         1
4         24.59  3.61  Female     No   Sun  Dinner     4         0
5         25.29  4.71    Male     No   Sun  Dinner     4         1
6          8.77  2.00    Male     No   Sun  Dinner     2         1
7         26.88  3.12    Male     No   Sun  Dinner     4         1
8         15.04  1.96    Male     No   Sun  Dinner     2         1
9         14.78  3.23    Male     No   Sun  Dinner     2         1
10        10.27  1.71    Male     No   Sun  Dinner     2         1
11        35.26  5.00  Female     No   Sun  Dinner     4         0
12        15.42  1.57    Male     No   Sun  Dinner     2         1
13        18.43  3.00    Male     No   Sun  Dinner     4         1
14        14.83  3.02  Female     No   Sun  Dinner     2         0
15        21.58  3.92    Male     No   Sun  Dinner     2         1
16        10.33  1.67  Female     No   Sun  Dinner     3         0
17        16.29  3.71    Male     No   Sun  Dinner     3         1
18        16.97  3.50  Female     No   Sun  Dinner     3         0
19        20.65  3.35    Male     No   Sat  Dinner     3         1
20        17.92  4.08    Male     No   Sat  Dinner     2         1
21        20.29  2.75  Female     No   Sat  Dinner     2         0
22        15.77  2.23  Female     No   Sat  Dinner     2         0
23        39.42  7.58    Male     No   Sat  Dinner     4         1
24        19.82  3.18    Male     No   Sat  Dinner     2         1
25        17.81  2.34    Male     No   Sat  Dinner     4         1
26        13.37  2.00    Male     No   Sat  Dinner     2         1
27        12.69  2.00    Male     No   Sat  Dinner     2         1
28        21.70  4.30    Male     No   Sat  Dinner     2         1
29        19.65  3.00  Female     No   Sat  Dinner     2         0
..          ...   ...     ...    ...   ...     ...   ...       ...
214       28.17  6.50  Female    Yes   Sat  Dinner     3         0
215       12.90  1.10  Female    Yes   Sat  Dinner     2         0
216       28.15  3.00    Male    Yes   Sat  Dinner     5         1
217       11.59  1.50    Male    Yes   Sat  Dinner     2         1
218        7.74  1.44    Male    Yes   Sat  Dinner     2         1
219       30.14  3.09  Female    Yes   Sat  Dinner     4         0
220       12.16  2.20    Male    Yes   Fri   Lunch     2         1
221       13.42  3.48  Female    Yes   Fri   Lunch     2         0
222        8.58  1.92    Male    Yes   Fri   Lunch     1         1
223       15.98  3.00  Female     No   Fri   Lunch     3         0
224       13.42  1.58    Male    Yes   Fri   Lunch     2         1
225       16.27  2.50  Female    Yes   Fri   Lunch     2         0
226       10.09  2.00  Female    Yes   Fri   Lunch     2         0
227       20.45  3.00    Male     No   Sat  Dinner     4         1
228       13.28  2.72    Male     No   Sat  Dinner     2         1
229       22.12  2.88  Female    Yes   Sat  Dinner     2         0
230       24.01  2.00    Male    Yes   Sat  Dinner     4         1
231       15.69  3.00    Male    Yes   Sat  Dinner     3         1
232       11.61  3.39    Male     No   Sat  Dinner     2         1
233       10.77  1.47    Male     No   Sat  Dinner     2         1
234       15.53  3.00    Male    Yes   Sat  Dinner     2         1
235       10.07  1.25    Male     No   Sat  Dinner     2         1
236       12.60  1.00    Male    Yes   Sat  Dinner     2         1
237       32.83  1.17    Male    Yes   Sat  Dinner     2         1
238       35.83  4.67  Female     No   Sat  Dinner     3         0
239       29.03  5.92    Male     No   Sat  Dinner     3         1
240       27.18  2.00  Female    Yes   Sat  Dinner     2         0
241       22.67  2.00    Male    Yes   Sat  Dinner     2         1
242       17.82  1.75    Male     No   Sat  Dinner     2         1
243       18.78  3.00  Female     No  Thur  Dinner     2         0

[244 rows x 8 columns]

### "1 ve Diğerleri (0) " Dönüşümü

In [24]:
df.head()

   total_bill   tip     sex smoker  day    time  size  yeni_sex
0       16.99  1.01  Female     No  Sun  Dinner     2         0
1       10.34  1.66    Male     No  Sun  Dinner     3         1
2       21.01  3.50    Male     No  Sun  Dinner     3         1
3       23.68  3.31    Male     No  Sun  Dinner     2         1
4       24.59  3.61  Female     No  Sun  Dinner     4         0

In [27]:
df["day"].str.contains("Sun")

0       True
1       True
2       True
3       True
4       True
5       True
6       True
7       True
8       True
9       True
10      True
11      True
12      True
13      True
14      True
15      True
16      True
17      True
18      True
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
       ...
214    False
215    False
216    False
217    False
218    False
219    False
220    False
221    False
222    False
223    False
224    False
225    False
226    False
227    False
228    False
229    False
230    False
231    False
232    False
233    False
234    False
235    False
236    False
237    False
238    False
239    False
240    False
241    False
242    False
243    False
Name: day, Length: 244, dtype: bool

In [25]:
import numpy as np 
df["yeni_day"] = np.where(df["day"].str.contains("Sun"), 1, 0)

In [26]:
df

     total_bill   tip     sex smoker   day    time  size  yeni_sex  yeni_day
0         16.99  1.01  Female     No   Sun  Dinner     2         0         1
1         10.34  1.66    Male     No   Sun  Dinner     3         1         1
2         21.01  3.50    Male     No   Sun  Dinner     3         1         1
3         23.68  3.31    Male     No   Sun  Dinner     2         1         1
4         24.59  3.61  Female     No   Sun  Dinner     4         0         1
5         25.29  4.71    Male     No   Sun  Dinner     4         1         1
6          8.77  2.00    Male     No   Sun  Dinner     2         1         1
7         26.88  3.12    Male     No   Sun  Dinner     4         1         1
8         15.04  1.96    Male     No   Sun  Dinner     2         1         1
9         14.78  3.23    Male     No   Sun  Dinner     2         1         1
10        10.27  1.71    Male     No   Sun  Dinner     2         1         1
11        35.26  5.00  Female     No   Sun  Dinner     4         0         1
12        15.42  1.57    Male     No   Sun  Dinner     2         1         1
13        18.43  3.00    Male     No   Sun  Dinner     4         1         1
14        14.83  3.02  Female     No   Sun  Dinner     2         0         1
15        21.58  3.92    Male     No   Sun  Dinner     2         1         1
16        10.33  1.67  Female     No   Sun  Dinner     3         0         1
17        16.29  3.71    Male     No   Sun  Dinner     3         1         1
18        16.97  3.50  Female     No   Sun  Dinner     3         0         1
19        20.65  3.35    Male     No   Sat  Dinner     3         1         0
20        17.92  4.08    Male     No   Sat  Dinner     2         1         0
21        20.29  2.75  Female     No   Sat  Dinner     2         0         0
22        15.77  2.23  Female     No   Sat  Dinner     2         0         0
23        39.42  7.58    Male     No   Sat  Dinner     4         1         0
24        19.82  3.18    Male     No   Sat  Dinner     2         1         0
25        17.81  2.34    Male     No   Sat  Dinner     4         1         0
26        13.37  2.00    Male     No   Sat  Dinner     2         1         0
27        12.69  2.00    Male     No   Sat  Dinner     2         1         0
28        21.70  4.30    Male     No   Sat  Dinner     2         1         0
29        19.65  3.00  Female     No   Sat  Dinner     2         0         0
..          ...   ...     ...    ...   ...     ...   ...       ...       ...
214       28.17  6.50  Female    Yes   Sat  Dinner     3         0         0
215       12.90  1.10  Female    Yes   Sat  Dinner     2         0         0
216       28.15  3.00    Male    Yes   Sat  Dinner     5         1         0
217       11.59  1.50    Male    Yes   Sat  Dinner     2         1         0
218        7.74  1.44    Male    Yes   Sat  Dinner     2         1         0
219       30.14  3.09  Female    Yes   Sat  Dinner     4         0         0
220       12.16  2.20    Male    Yes   Fri   Lunch     2         1         0
221       13.42  3.48  Female    Yes   Fri   Lunch     2         0         0
222        8.58  1.92    Male    Yes   Fri   Lunch     1         1         0
223       15.98  3.00  Female     No   Fri   Lunch     3         0         0
224       13.42  1.58    Male    Yes   Fri   Lunch     2         1         0
225       16.27  2.50  Female    Yes   Fri   Lunch     2         0         0
226       10.09  2.00  Female    Yes   Fri   Lunch     2         0         0
227       20.45  3.00    Male     No   Sat  Dinner     4         1         0
228       13.28  2.72    Male     No   Sat  Dinner     2         1         0
229       22.12  2.88  Female    Yes   Sat  Dinner     2         0         0
230       24.01  2.00    Male    Yes   Sat  Dinner     4         1         0
231       15.69  3.00    Male    Yes   Sat  Dinner     3         1         0
232       11.61  3.39    Male     No   Sat  Dinner     2         1         0
233       10.77  1.47    Male     No   Sat  Dinner     2         1         0
234       15.53  3.00    Male    Yes   Sat  Dinner     2         1         0
235       10.07  1.25    Male     No   Sat  Dinner     2         1         0
236       12.60  1.00    Male    Yes   Sat  Dinner     2         1         0
237       32.83  1.17    Male    Yes   Sat  Dinner     2         1         0
238       35.83  4.67  Female     No   Sat  Dinner     3         0         0
239       29.03  5.92    Male     No   Sat  Dinner     3         1         0
240       27.18  2.00  Female    Yes   Sat  Dinner     2         0         0
241       22.67  2.00    Male    Yes   Sat  Dinner     2         1         0
242       17.82  1.75    Male     No   Sat  Dinner     2         1         0
243       18.78  3.00  Female     No  Thur  Dinner     2         0         0

[244 rows x 9 columns]

### Çok Sınıflı Dönüşüm

In [28]:
from sklearn.preprocessing import LabelEncoder
lbe = LabelEncoder()

In [29]:
lbe.fit_transform(df["day"])

array([2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
       3, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 3])

In [ ]:
#cok dikkat

### One-Hot Dönüşümü ve Dummy Değişken Tuzağı

In [30]:
df.head()

   total_bill   tip     sex smoker  day    time  size  yeni_sex  yeni_day
0       16.99  1.01  Female     No  Sun  Dinner     2         0         1
1       10.34  1.66    Male     No  Sun  Dinner     3         1         1
2       21.01  3.50    Male     No  Sun  Dinner     3         1         1
3       23.68  3.31    Male     No  Sun  Dinner     2         1         1
4       24.59  3.61  Female     No  Sun  Dinner     4         0         1

In [32]:
df_one_hot = pd.get_dummies(df, columns = ["sex"], prefix = ["sex"])

In [33]:
df_one_hot.head()

,total_bill,tip,smoker,day,time,size,yeni_sex,yeni_day,sex_Male,sex_Female
0,16.99,1.01,No,Sun,Dinner,2,0,1,0,1
1,10.34,1.66,No,Sun,Dinner,3,1,1,1,0
2,21.01,3.50,No,Sun,Dinner,3,1,1,1,0
3,23.68,3.31,No,Sun,Dinner,2,1,1,1,0
4,24.59,3.61,No,Sun,Dinner,4,0,1,0,1

In [34]:
pd.get_dummies(df, columns = ["day"], prefix = ["day"]).head()

,total_bill,tip,sex,smoker,time,size,yeni_sex,yeni_day,day_Thur,day_Fri,day_Sat,day_Sun
0,16.99,1.01,Female,No,Dinner,2,0,1,0,0,0,1
1,10.34,1.66,Male,No,Dinner,3,1,1,0,0,0,1
2,21.01,3.50,Male,No,Dinner,3,1,1,0,0,0,1
3,23.68,3.31,Male,No,Dinner,2,1,1,0,0,0,1
4,24.59,3.61,Female,No,Dinner,4,0,1,0,0,0,1

# Bölüm Sonu Değerlendirmesi

Veri Ön İşleme 

Aykırı Gözlem Analizi

Eksik Gözlem Analizi

Değişken Standartlaştırma

Değişken Dönüştürme